*~

auto-save-list/
elpa/
snippets/
eshell/
var/
.cache/
transient/
server/
request/
.extension/
quelpa/
emms/
eln-cache/

custom.el
recentf
history
.last-package-update-day
amx-items
projectile-bookmarks.eld
projectile.cache
projects
forge-database.sqlite
.emacs.desktop
bookmarks
org-clock-save.el
.lsp-session-v1
.dap-breakpoints
.dape-breakpoints
.mc-lists.el
org-roam.db
tramp
places

