*~

auto-save-list/
elpa/
snippets/
eshell/
var/
.cache/
transient/
server/

custom.el
recentf
history
.last-package-update-day
amx-items
projectile-bookmarks.eld
projectile.cache
forge-database.sqlite
.emacs.desktop
bookmarks
org-clock-save.el
.lsp-session-v1

